{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'accounts:register' as register_url %}
{% url 'account:home' as account_url %}

<nav class="site-navigation text-right text-md-center" role="navigation">
    <div class="container">
        <ul class="site-menu js-clone-nav d-none d-md-block" style="padding: 0;">
            <li><a href="{% url 'homepage:home' %}">Home</a></li>
            <li><a href="{% url 'catalog:product-list' %}">SHOP ALL</a></li>
            <li><a href="{% url 'catalog:featured-list' %}">FEATURED</a></li>
            <li><a href="{% url 'catalog:new-list' %}">NEW IN</a></li>
            <li><a href="{% url 'catalog:brand-list' %}">OUR BRANDS</a></li>
            <li><a href="{% url 'catalog:category-list' %}">OUR CATEGORIES</a></li>
            <li><a href="{% url 'homepage:contact' %}">Contact</a></li>
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Account
             </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item {% if request.path == account_url %}active{% endif %}" href="{{ account_url }}">Home</a>
               <a class="dropdown-item" href="{{ account_url }}#billing">Billing</a>
               <a class="dropdown-item" href="{% url "account:user-product-history" %}">History</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
             </div>
           </li>
           {% else %}
            <li class="nav-item {% if request.path == register_url %}active{% endif %}">
             <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
           </li>
           <li class="nav-item {% if request.path == login_url %}active{% endif %}">
             <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
           </li>
           {% endif %}
        </ul>
    </div>
</nav>