{% extends "base.html" %}
{% block content %}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'homepage:home' %}">Home</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-black">{{ product.title }}</strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <img src="{{ product.image.url }}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="text-black">{{ product.title }}</h2>
               
                <p>{{ product.description }}</p>
                <p>Available stock: {{ product.stock }} units</p>
                <p>Color: {{ product.color }} </p>
                <p>Size: {{ product.size }} </p>
                <p>{{ product.price }} $ </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

