{% extends "base.html" %}

{% block content %}


<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            {% for category in object_list %}
            <div class="col-lg-4 col-md-6 mb-4" data-aos='fade-up'>
          
                <figure class="block-4-image">
                    <a href="{{ category.get_absolute_url }}"><img src="{{ category.banner.url }}" class="img-fluid"></a>
                </figure>
          
                <div class="block-4-text p-4">
                    <a href="{{ category.get_absolute_url }}">
                        <h3>{{ category.title }}</h3>
                    </a>
                </div>
            </div>
            {% endfor %}
          </div>
    </div>
</div>



{% endblock content %}