{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="{% url 'homepage:home' %}">Home</a>
                <span class="mx-2 mb-0">/</span>
                <strong class="text-black">{{ product.title }}</strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <img src="{{ product.image.url }}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="text-black">{{ product.title }}</h2>
               
                <p>{{ product.description }}</p>
                <p>Available stock: {{ product.stock }} units</p>
                <p>Color: {{ product.color }} </p>
                <p>Size: {{ product.size }} </p>
                <p>{{ product.price }} $ </p>

    {% if product.in_stock and product == cartitem.product %}
            <div class="col-md-12 mb-0">
                <a href="{% url 'cart:home' %}">Already in Cart</a>
            </div>
        {% elif product.in_stock %}
            <form class='form-product-ajax' 
            method='POST' 
            action='{% url "cart:update" %}' 
            data-endpoint='{% url "cart:update" %}' 
            class="form" 
            {% if request.user.is_authenticated %}
            data-user='abc'
            {% endif %}> 
            {% csrf_token %}
                <input type='hidden' 
                name='product_id' 
                value='{{ product.id }}'/>
                <span class='submit-span'>
                <button type='submit'  class='btn btn-success'>Add to cart</button>
                </span>
            </form>
    {% else %}
    <p>This item is out of stock</p>
    {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

