



<form class='form-product-ajax' 
    method='POST' 
    action='{% url "cart:remove %}' 
    data-endpoint='{% url "cart:remove" %}' 
    class="form"> 
    {% csrf_token %}
    <input class='cart-item-product-id' type='hidden' 
    name='product_id' 
    value='{{ product_id }}' />
    <button type='submit' class='btn btn-link btn-sm' style="padding:0px;cursor: pointer;">Remove?</button>
    </span>
</form>