{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="multikart">
    <meta name="keywords" content="multikart">
    <meta name="author" content="multikart">
    <link rel="icon" href="{% static 'assets/images/favicon/5.png" type="image/x-icon' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon/5.png' %}" type="image/x-icon">
    <title>Multikart - Multi-purpopse E-commerce Html Template</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/fontawesome.css' %}">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/slick-theme.css' %}">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.css' %}">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/themify-icons.css' %}">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.css' %}">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/color5.css' %}" media="screen" id="color">

</head>
    {% block base_head %}
    {% endblock %}

  <body>
    {% block content %}

    {% endblock %}


  <!-- tap to top start -->
    <div class="tap-top">
        <div><i class="fa fa-angle-double-up"></i></div>
    </div>
    <!-- tap to top end -->


    <!-- latest jquery-->
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>

    <!-- popper js-->
    <script src="{% static 'assets/js/popper.min.js' %}"></script>

    <!-- slick js-->
    <script src="{% static 'assets/js/slick.js' %}"></script>

    <!-- menu js-->
    <script src="{% static 'assets/js/menu.js' %}"></script>

    <!-- lazyload js-->
    <script src="{% static 'assets/js/lazysizes.min.js' %}"></script>

    <!-- Bootstrap js-->
    <script src="{% static 'assets/js/bootstrap.js' %}"></script>

    <!-- Bootstrap Notification js-->
    <script src="{% static 'assets/js/bootstrap-notify.min.js' %}"></script>

    <!-- Theme js-->
    <script src="{% static 'assets/js/script.js' %}"></script>

    <script>
        $(window).on('load', function() {
            setTimeout(function() {
                $('#exampleModal').modal('show');
            }, 2500);
        });

        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
    </script>
    
  </body>
</html>