{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="multikart">
    <meta name="keywords" content="multikart">
    <meta name="author" content="multikart">
    <link rel="icon" href="{% static '/assets/images/favicon/1.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static '/assets/images/favicon/1.png' %}" type="image/x-icon">
    <title>Multikart - Multi-purpopse E-commerce Html Template</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/fontawesome.css' %}" >

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/slick-theme.css' %}" >

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/animate.css' %}" >

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/themify-icons.css' %}" >

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/bootstrap.css' %}" >

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/color1.css' %}"  media="screen" id="color">

</head>

<body>

    {% block content %}

    <!-- header start -->
    <header class="header-2">
        <div class="mobile-fix-option"></div>
        <div class="top-header top-header-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-contact">
                            <ul>
                                <li>Welcome to Our store Multikart</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>Call Us: 123 - 456 - 7890</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                        <ul class="header-dropdown">
                            <li class="mobile-wishlist"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>
                                    wishlist</a></li>
                            <li class="onhover-dropdown mobile-account"><i class="fa fa-user" aria-hidden="true"></i> My Account
                                <ul class="onhover-show-div">
                                    <li><a href="#" data-lng="en">Login</a></li>
                                    <li><a href="#" data-lng="es">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu border-section border-top-0">
                        <div class="menu-left">
                            <div class="navbar"><a href="javascript:void(0)" onclick="openNav()"><i
                                        class="fa fa-bars sidebar-bar" aria-hidden="true"></i></a>
                                <div id="mySidenav" class="sidenav">
                                    <a href="javascript:void(0)" class="sidebar-overlay" onclick="closeNav()"></a>
                                    <nav>
                                        <a href="javascript:void(0)" onclick="closeNav()">
                                            <div class="sidebar-back text-left"><i class="fa fa-angle-left pr-2" aria-hidden="true"></i> Back</div>
                                        </a>
                                        <!-- Vertical Menu -->
                                        <ul id="sub-menu" class="sm pixelstrap sm-vertical">
                                            <li><a href="#">clothing</a>
                                                <ul class="mega-menu clothing-menu">
                                                    <li>
                                                        <div class="row m-0">
                                                            <div class="col-xl-4">
                                                                <div class="link-section">
                                                                    <h5>women's fashion</h5>
                                                                    <ul>
                                                                        <li><a href="#">dresses</a></li>
                                                                        <li><a href="#">skirts</a></li>
                                                                        <li><a href="#">westarn wear</a></li>
                                                                        <li><a href="#">ethic wear</a></li>
                                                                        <li><a href="#">sport wear</a></li>
                                                                    </ul>
                                                                    <h5>men's fashion</h5>
                                                                    <ul>
                                                                        <li><a href="#">sports wear</a></li>
                                                                        <li><a href="#">western wear</a></li>
                                                                        <li><a href="#">ethic wear</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4">
                                                                <div class="link-section">
                                                                    <h5>accessories</h5>
                                                                    <ul>
                                                                        <li><a href="#">fashion jewellery</a></li>
                                                                        <li><a href="#">caps and hats</a></li>
                                                                        <li><a href="#">precious jewellery</a></li>
                                                                        <li><a href="#">necklaces</a></li>
                                                                        <li><a href="#">earrings</a></li>
                                                                        <li><a href="#">wrist wear</a></li>
                                                                        <li><a href="#">ties</a></li>
                                                                        <li><a href="#">cufflinks</a></li>
                                                                        <li><a href="#">pockets squares</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4">
                                                                <a href="#" class="mega-menu-banner"><img src="{% static 'assets/images/mega-menu/furniture/1.jpg' %}" alt="" class="img-fluid blur-up lazyload"></a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">bags</a>
                                                <ul>
                                                    <li><a href="#">shopper bags</a></li>
                                                    <li><a href="#">laptop bags</a></li>
                                                    <li><a href="#">clutches</a></li>
                                                    <li><a href="#">purses</a>
                                                        <ul>
                                                            <li><a href="#">purses</a></li>
                                                            <li><a href="#">wallets</a></li>
                                                            <li><a href="#">leathers</a></li>
                                                            <li><a href="#">satchels</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">footwear</a>
                                                <ul>
                                                    <li><a href="#">sport shoes</a></li>
                                                    <li><a href="#">formal shoes</a></li>
                                                    <li><a href="#">casual shoes</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">watches</a></li>
                                            <li><a href="#">Accessories</a>
                                                <ul>
                                                    <li><a href="#">fashion jewellery</a></li>
                                                    <li><a href="#">caps and hats</a></li>
                                                    <li><a href="#">precious jewellery</a></li>
                                                    <li><a href="#">more..</a>
                                                        <ul>
                                                            <li><a href="#">necklaces</a></li>
                                                            <li><a href="#">earrings</a></li>
                                                            <li><a href="#">wrist wear</a></li>
                                                            <li><a href="#">accessories</a>
                                                                <ul>
                                                                    <li><a href="#">ties</a></li>
                                                                    <li><a href="#">cufflinks</a></li>
                                                                    <li><a href="#">pockets squares</a></li>
                                                                    <li><a href="#">helmets</a></li>
                                                                    <li><a href="#">scarves</a></li>
                                                                    <li><a href="#">more...</a>
                                                                        <ul>
                                                                            <li><a href="#">accessory gift sets</a></li>
                                                                            <li><a href="#">travel accessories</a></li>
                                                                            <li><a href="#">phone cases</a></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li><a href="#">belts & more</a></li>
                                                            <li><a href="#">wearable</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">house of design</a></li>
                                            <li><a href="#">beauty & personal care</a>
                                                <ul>
                                                    <li><a href="#">makeup</a></li>
                                                    <li><a href="#">skincare</a></li>
                                                    <li><a href="#">premium beaty</a></li>
                                                    <li><a href="#">more</a>
                                                        <ul>
                                                            <li><a href="#">fragrances</a></li>
                                                            <li><a href="#">luxury beauty</a></li>
                                                            <li><a href="#">hair care</a></li>
                                                            <li><a href="#">tools & brushes</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">home & decor</a></li>
                                            <li><a href="#">kitchen</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="brand-logo layout2-logo">
                            <a href="#"><img src="{% static 'assets/images/icon/logo/1.png' %}" class="img-fluid blur-up lazyload" alt=""></a>
                        </div>
                        <div class="menu-right pull-right">
                            <div class="icon-nav">
                                <ul>
                                    <li class="onhover-div mobile-search">
                                        <div><img src="{% static 'assets/images/icon/search.png' %}" onclick="openSearch()" class="img-fluid blur-up lazyload" alt=""> <i class="ti-search" onclick="openSearch()"></i></div>
                                        <div id="search-overlay" class="search-overlay">
                                            <div><span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
                                                <div class="overlay-content">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-xl-12">
                                                                <form>
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Search a Product">
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary"><i
                                                                            class="fa fa-search"></i></button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="onhover-div mobile-setting">
                                        <div><img src="{% static 'assets/images/icon/setting.png' %}" class="img-fluid blur-up lazyload" alt=""> <i class="ti-settings"></i>
                                        </div>
                                        <div class="show-div setting">
                                            <h6>language</h6>
                                            <ul>
                                                <li><a href="#">english</a></li>
                                                <li><a href="#">french</a></li>
                                            </ul>
                                            <h6>currency</h6>
                                            <ul class="list-inline">
                                                <li><a href="#">euro</a></li>
                                                <li><a href="#">rupees</a></li>
                                                <li><a href="#">pound</a></li>
                                                <li><a href="#">doller</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="onhover-div mobile-cart">
                                        <div><img src="{% static 'assets/images/icon/cart.png' %}" class="img-fluid blur-up lazyload" alt=""> <i class="ti-shopping-cart"></i></div>
                                        <ul class="show-div shopping-cart">
                                            <li>
                                                <div class="media">
                                                    <a href="#"><img class="mr-3" src="{% static 'assets/images/furniture/product/4.jpg' %}" %}" alt=""></a>
                                                    <div class="media-body">
                                                        <a href="#">
                                                            <h4>item name</h4>
                                                        </a>
                                                        <h4><span>1 x $ 299.00</span></h4>
                                                    </div>
                                                </div>
                                                <div class="close-circle"><a href="#"><i class="fa fa-times"
                                                            aria-hidden="true"></i></a></div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <a href="#"><img class="mr-3" src="{% static 'assets/images/furniture/product/4.jpg' %}" %}" alt=""></a>
                                                    <div class="media-body">
                                                        <a href="#">
                                                            <h4>item name</h4>
                                                        </a>
                                                        <h4><span>1 x $ 299.00</span></h4>
                                                    </div>
                                                </div>
                                                <div class="close-circle"><a href="#"><i class="fa fa-times"
                                                            aria-hidden="true"></i></a></div>
                                            </li>
                                            <li>
                                                <div class="total">
                                                    <h5>subtotal : <span>$299.00</span></h5>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="buttons"><a href="cart.html" class="view-cart">view cart</a>
                                                    <a href="#" class="checkout">checkout</a></div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-nav-center">
                        <nav id="main-nav">
                            <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                            <!-- Sample menu definition -->
                            <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                <li>
                                    <div class="mobile-back text-right">Back<i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
                                </li>
                                <li>
                                    <a href="#">Home</a>
                                    <ul>
                                        <li>
                                            <a href="#">new demos <span class="new-tag">new</span></a>
                                            <ul>
                                                <li><a target="_blank" href="tools.html">tools</a></li>
                                                <li><a target="_blank" href="marketplace-demo.html">marketplace</a></li>
                                                <li><a target="_blank" href="game.html">game</a></li>
                                                <li><a target="_blank" href="gym-product.html">gym</a></li>
                                                <li><a target="_blank" href="marijuana.html">marijuana</a></li>
                                                <li><a target="_blank" href="left_sidebar-demo.html">left sidebar</a>
                                                </li>
                                                <li><a target="_blank" href="jewellery.html">jewellery</a></li>
                                                <li><a target="_blank" href="pets.html">pets</a></li>
                                                <li><a target="_blank" href="metro.html">metro</a></li>
                                                <li><a target="_blank" href="video-slider.html">video slider</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">clothing</a>
                                            <ul>
                                                <li><a target="_blank" href="index.html">fashion 1</a></li>
                                                <li><a target="_blank" href="fashion-2.html">fashion 2</a></li>
                                                <li><a target="_blank" href="fashion-3.html">fashion 3</a></li>
                                                <li><a target="_blank" href="kids.html">kids</a></li>
                                            </ul>
                                        </li>
                                        <li><a target="_blank" href="watch.html">watch</a></li>
                                        <li><a target="_blank" href="shoes.html">shoes</a></li>
                                        <li>
                                            <a href="#">electronics</a>
                                            <ul>
                                                <li><a target="_blank" href="electronic-1.html">electronic 1</a></li>
                                                <li><a target="_blank" href="electronic-2.html">electronic 2</a></li>
                                            </ul>
                                        </li>
                                        <li><a target="_blank" href="bags.html">bags</a></li>
                                        <li><a target="_blank" href="nursery.html">nursery</a></li>
                                        <li><a target="_blank" href="vegetables.html">vegetable</a></li>
                                        <li><a target="_blank" href="beauty.html">beauty</a></li>
                                        <li><a target="_blank" href="light.html">light</a></li>
                                        <li><a target="_blank" href="furniture.html">furniture</a></li>
                                        <li><a target="_blank" href="goggles.html">googles</a></li>
                                        <li>
                                            <a href="#">basics</a>
                                            <ul>
                                                <li><a target="_blank" href="lookbook-demo.html">lookbook</a></li>
                                                <li><a target="_blank" href="instagram-shop.html">instagram</a></li>
                                                <li><a target="_blank" href="video.html">video</a></li>
                                                <li><a target="_blank" href="parallax.html">parallax</a></li>
                                                <li><a target="_blank" href="full-page.html">full page</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">shop</a>
                                    <ul>
                                        <li><a href="category-page.html">left sidebar</a></li>
                                        <li><a href="category-page(right).html">right sidebar</a></li>
                                        <li><a href="category-page(no-sidebar).html">no sidebar</a></li>
                                        <li><a href="category-page(sidebar-popup).html">sidebar popup</a></li>
                                        <li><a href="category-page(metro).html">metro <span
                                                    class="new-tag">new</span></a></li>
                                        <li><a href="category-page(full-width).html">full width <span
                                                    class="new-tag">new</span></a></li>
                                        <li><a href="category-page(infinite-scroll).html">infinite scroll</a></li>
                                        <li><a href=category-page(3-grid).html>three grid</a></li>
                                        <li><a href="category-page(6-grid).html">six grid</a></li>
                                        <li><a href="category-page(list-view).html">list view</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">product</a>
                                    <ul>
                                        <li>
                                            <a href="#">sidebar</a>
                                            <ul>
                                                <li><a href="product-page.html">left sidebar</a></li>
                                                <li><a href="product-page(right-sidebar).html">right sidebar</a></li>
                                                <li><a href="product-page(no-sidebar).html">no sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">thumbnail image</a>
                                            <ul>
                                                <li><a href="product-page(left-image).html">left image</a></li>
                                                <li><a href="product-page(right-image).html">right image</a></li>
                                                <li><a href="product-page(image-outside).html">image outside <span
                                                            class="new-tag">new</span></a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">three column</a>
                                            <ul>
                                                <li><a href="product-page(left-image).html">thumbnail left</a></li>
                                                <li><a href="product-page(right-image).html">thumbnail right</a></li>
                                                <li><a href="product-page(image-outside).html">thubnail bottom</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="product-page(4-image).html">four image <span
                                                    class="new-tag">new</span></a></li>
                                        <li><a href="product-page(sticky).html">sticky</a></li>
                                        <li><a href="product-page(accordian).html">accordian</a></li>
                                        <li><a href="product-page(bundle).html">bundle<span
                                                    class="new-tag">new</span></a></li>
                                        <li><a href="product-page(image-swatch).html">image swatch <span
                                                    class="new-tag">new</span></a></li>
                                        <li><a href="product-page(vertical-tab).html">vertical tab</a></li>
                                    </ul>
                                </li>
                                <li class="mega" id="hover-cls"><a href="#">features
                                        <div class="lable-nav">new</div>
                                    </a>
                                    <ul class="mega-menu full-mega-menu">
                                        <li>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col mega-box">
                                                        <div class="link-section">
                                                            <div class="menu-title">
                                                                <h5>portfolio</h5>
                                                            </div>
                                                            <div class="menu-content">
                                                                <ul>
                                                                    <li><a href="grid-2-col.html">portfolio grid 2</a>
                                                                    </li>
                                                                    <li><a href="grid-3-col.html">portfolio grid 3</a>
                                                                    </li>
                                                                    <li><a href="grid-4-col.html">portfolio grid 4</a>
                                                                    </li>
                                                                    <li><a href="masonary-2-grid.html">mesonary grid
                                                                            2</a></li>
                                                                    <li><a href="masonary-3-grid.html">mesonary grid
                                                                            3</a></li>
                                                                    <li><a href="masonary-4-grid.html">mesonary grid
                                                                            4</a></li>
                                                                    <li><a href="masonary-fullwidth.html">mesonary full
                                                                            width</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col mega-box">
                                                        <div class="link-section">
                                                            <div class="menu-title">
                                                                <h5>add to cart</h5>
                                                            </div>
                                                            <div class="menu-content">
                                                                <ul>
                                                                    <li><a href="nursery.html">cart modal popup</a></li>
                                                                    <li><a href="vegetables.html">qty. counter <i
                                                                                class="fa fa-bolt icon-trend"
                                                                                aria-hidden="true"></i></a></li>
                                                                    <li><a href="bags.html">cart top</a></li>
                                                                    <li><a href="shoes.html">cart bottom</a></li>
                                                                    <li><a href="watch.html">cart left</a></li>
                                                                    <li><a href="tools.html">cart right</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col mega-box">
                                                        <div class="link-section">
                                                            <div class="menu-title">
                                                                <h5>theme elements</h5>
                                                            </div>
                                                            <div class="menu-content">
                                                                <ul>
                                                                    <li><a href="element-title.html">title</a></li>
                                                                    <li><a href="element-banner.html">collection
                                                                            banner</a></li>
                                                                    <li><a href="element-slider.html">home slider</a>
                                                                    </li>
                                                                    <li><a href="element-category.html">category</a>
                                                                    </li>
                                                                    <li><a href="element-service.html">service</a></li>
                                                                    <li><a href="element-image-ratio.html">image size
                                                                            ratio <i class="fa fa-bolt icon-trend"
                                                                                aria-hidden="true"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col mega-box">
                                                        <div class="link-section">
                                                            <div class="menu-title">
                                                                <h5>product elements</h5>
                                                            </div>
                                                            <div class="menu-content">
                                                                <ul>
                                                                    <li class="up-text"><a href="element-productbox.html">product
                                                                            box<span>10+</span></a></li>
                                                                    <li><a href="element-product-slider.html">product
                                                                            slider</a></li>
                                                                    <li><a href="element-no_slider.html">no slider</a>
                                                                    </li>
                                                                    <li><a href="element-mulitiple_slider.html">multi
                                                                            slider</a></li>
                                                                    <li><a href="element-tab.html">tab</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col mega-box">
                                                        <div class="link-section">
                                                            <div class="menu-title">
                                                                <h5>email template </h5>
                                                            </div>
                                                            <div class="menu-content">
                                                                <ul>
                                                                    <li><a href="email-order-success.html">order
                                                                            success</a></li>
                                                                    <li><a href="email-order-success-two.html">order
                                                                            success 2</a></li>
                                                                    <li><a href="email-template.html">email template</a>
                                                                    </li>
                                                                    <li><a href="email-template-two.html">email template
                                                                            2</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">pages</a>
                                    <ul>
                                        <li>
                                            <a href="#">vendor <span class="new-tag">new</span></a>
                                            <ul>
                                                <li><a href="vendor-dashboard.html">vendor dashboard</a></li>
                                                <li><a href="vendor-profile.html">vendor profile</a></li>
                                                <li><a href="become-vendor.html">become vendor</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">account</a>
                                            <ul>
                                                <li><a href="product-page(left-image).html">account <span
                                                            class="new-tag">new</span></a></li>
                                                <li><a href="product-page(right-image).html">order history <span
                                                            class="new-tag">new</span></a></li>
                                                <li><a href="wishlist.html">wishlist</a></li>
                                                <li><a href="cart.html">cart</a></li>
                                                <li><a href="dashboard.html">Dashboard</a></li>
                                                <li><a href="login.html">login</a></li>
                                                <li><a href="register.html">register</a></li>
                                                <li><a href="contact.html">contact</a></li>
                                                <li><a href="forget_pwd.html">forget password</a></li>
                                                <li><a href="profile.html">profile <span class="new-tag">new</span></a>
                                                </li>
                                                <li><a href="checkout.html">checkout</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about-page.html">about us</a></li>
                                        <li><a href="search.html">search</a></li>
                                        <li><a href="typography.html">typography <span class="new-tag">new</span></a>
                                        </li>
                                        <li><a href="review.html">review <span class="new-tag">new</span></a></li>
                                        <li><a href="order-success.html">order success</a></li>
                                        <li>
                                            <a href="#">compare</a>
                                            <ul>
                                                <li><a href="compare.html">compare</a></li>
                                                <li><a href="compare-2.html">compare-2 <span
                                                            class="new-tag">new</span></a></li>
                                            </ul>
                                        </li>
                                        <li><a href="collection.html">collection</a></li>
                                        <li><a href="lookbook.html">lookbook</a></li>
                                        <li><a href="sitemap.html">site map <span class="new-tag">new</span></a></li>
                                        <li><a href="404.html">404</a></li>
                                        <li><a href="coming-soon.html">coming soon <span class="new-tag">new</span></a>
                                        </li>
                                        <li><a href="faq.html">FAQ</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">blog</a>
                                    <ul>
                                        <li><a href="blog-page.html">left sidebar</a></li>
                                        <li><a href="blog(right-sidebar).html">right sidebar</a></li>
                                        <li><a href="blog(no-sidebar).html">no sidebar</a></li>
                                        <li><a href="blog-details.html">blog details</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    

    <!--section start-->
    <section class="register-page section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>create account</h3>
                    <div class="site-section">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-7">
                                    <h2 class="h3 mb-3 text-black">Sign in</h2>
                                </div>
                                <div class="col-md-7">
                                    <form method="post" action="{% url 'account_signup' %}">
                                        {% csrf_token %}
                                        {% if redirect_field_value %}
                                            <input type="hidden" name="{{ redirect_field_name }}"
                                                   value="{{ redirect_field_value }}"/>
                                        {% endif %}
                                        {{ form|crispy }}
                                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign up">
                                    </form>
                                    <div class="row mt-3">
                                        <div class="col-6">
                                            <a href="{% url 'account_login' %}"><small>Already have an
                                                account?</small></a>
                                        </div>
                                        <div class="col-6 text-right">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->



</body>

{% endblock %}
</html>