{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <title>Hello, world!</title>
    {% include 'base/css.html' %}
    {% block base_head %}
    {% endblock %}

  </head>
  <body>
  <div class='container'>
    {% include 'base/navbar.html' %}


    {% block content %}
    {% endblock %}

     {% include 'base/js.html' %}
     {% block javascript %}{% endblock %}

  </body>
</html>