{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block content %}



    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="col-md-7">

<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit">{% trans 'Sign Out' %}</button>
</form>
           </div>
            </div>
        </div>
    </div>

{% endblock content %}
