
<nav class="site-navigation text-right text-md-center" role="navigation">
    <div class="container">
        <ul class="site-menu js-clone-nav d-none d-md-block" style="padding: 0;">
            <li><a href="{% url 'homepage:home' %}">Home</a></li>
            <li><a href="{% url 'catalog:product-list' %}">SHOP ALL</a></li>
            <li><a href="{% url 'catalog:featured-list' %}">FEATURED</a></li>
            <li><a href="{% url 'catalog:new-list' %}">NEW IN</a></li>
            <li><a href="{% url 'catalog:brand-list' %}">OUR BRANDS</a></li>
            <li><a href="{% url 'catalog:category-list' %}">OUR CATEGORIES</a></li>
            <li><a href="{% url 'homepage:contact' %}">Contact</a></li>
            {% if request.user.is_staff %}
                <li><a href="/">Staff</a></li>
            {% endif %}
        </ul>
    </div>
</nav>