{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="{% static 'images/mainbanner.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

{% endblock content %}