{% extends "base.html" %}


{% block content %}


<div class='col-6 mx-auto py-5 text-center'>
  <div class='col-6 mx-auto py-5 text-center'>
  
    <p>MyFatoorah FAIL</p> 
    <p>Payment ID: {{ payment_id }}</p>
    <p>Order number: {{ order_number }}</p>
    <p>Payment Date: {{ payment_date }}</p>
    <p>Authorization ID: {{ auth_id }}</p>

  
  
  </div>
</div>

{% endblock %}