{% extends "base.html" %}


{% block content %}


<div class='col-6 mx-auto py-5 text-center'>
  
  <p>MyFatoorah Succes</p> 
  <p>Payment ID: {{ payment_id }}</p>
  <p>Order number: {{ order_number }}</p>
  <p>Payment Date: {{ payment_date }}</p>
  <p>Authorization ID: {{ auth_id }}</p>
  <h2 class='display-1'>Thank you!</h2>


</div>

{% endblock %}