{% extends "base.html" %}


{% block content %}

{% if not items %}
		<div>
			<div class="text-center">
				<br>
				<h1 class="text-center my_title">
					Your shopping cart is empty
				</h1>
				<br>
				<p class="text-center">
					Please click <a href="{% url 'homepage:home' %}">here</a> to continue shopping.
				</p>
			</div>
		</div>
{% else %}
<div>
  <div class="text-center">
    <br>
    <h1 class="text-center my_title">
      Your shopping cart
    </h1>
    <br>
  </div>
</div>
<div class="row mx-auto">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
    <table class="table my_custom_table">
      <thead class="my_custom_thead">
        <tr>
          <th colspan="5">
            Your items
          </th>
        </tr>
      </thead>
      <tbody>
        {% for cart_item in items %}
        <tr>
          <td class="text-left">
            {{cart_item.product.title}}
            <br>
            SKU: {{cart_item.product.id}}
          </td>
          <td>
            Unit Price: £{{cart_item.product.price}}
            <br>
            Qty: {{cart_item.quantity}} x £{{cart_item.product.price}}
          </td>
          {% if cart_item.quantity <= cart_item.product.stock %}
									<td>
										<a href="{% url 'cart:add_quantity' cart_item.product.id %}" class="custom_a">
                      <i class="fas fa-plus-circle custom_icon"></i></a>&nbsp;
                      <a href="{% url 'cart:reduce_quantity' cart_item.product.id %}" class="custom_a">
                        <i class="fas fa-minus-circle custom_icon"></i></a>&nbsp;
                        <a href="{% url 'cart:remove' cart_item.product.id %}" class="custom_icon">
                          <i class="fas fa-trash-alt custom_icon"></i></a>
                  </td>
                  {% endif %}
          {% if  cart_item.quantity == '1' %}
									<td>
										&nbsp;<a href="{% url 'cart:reduce_quantity' cart_item.product.id %}" class="custom_a">
                      <i class="fas fa-minus-circle custom_icon"></i></a>&nbsp;
                      <a href="{% url 'cart:remove' cart_item.product.id %}" class="custom_icon">
                        <i class="fas fa-trash-alt custom_icon"></i></a>
                  </td>
          {% endif %}
                <td>
                  £{{cart_item.sub_total}}
                </td>
                
        </tr>
        
        
      {% endfor %}
    </tbody>
    <td>
      £{{cart.subtotal}}
    </td>
    <td colspan="2"></td>
      <td><a class='btn btn-lg btn-success' href='{% url "cart:checkout" %}'>Checkout</a></td>
  </table>
  </div>
</div>


{% endif %}


{% endblock %}